.cartitems {
  margin: 20px;
  border: 1px solid gray;
}

.cartitems img {
  margin: 20px;
  height: 30rem;
  aspect-ratio: 1;
  object-fit: contain;
}
.cartitems div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.alterItems {
  background: transparent;
  border: 1px solid rgb(119, 119, 119);
  padding: 0px 12px;
  color: white;
  border-radius: 5px;
  font-size: larger;
  margin: 0px 10px;
  cursor: pointer;
}

.buy {
  padding: 10px 30px;
  background-color: rgb(109, 114, 36);
  border: 1px solid rgb(53, 53, 53);
  border-radius: 30px;
}

.buy:hover {
  background-color: yellow;
  cursor: pointer;
}

@media (max-width: 660px) {
  .cartitems {
    margin: 10px;
    border: 1px solid gray;
  }

  .cartitems img {
    margin: 10px;
    height: 20rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .cartitems div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .pricetag {
    color: black;
    font-size: large;
  }

  .alterItems {
    background: transparent;
    border: 1px solid rgb(119, 119, 119);
    padding: 0px 12px;
    color: white;
    border-radius: 5px;
    font-size: larger;
    margin: 0px 10px;
    cursor: pointer;
  }

  .buy {
    padding: 10px 30px;
    background-color: rgb(109, 114, 36);
    border: 1px solid rgb(53, 53, 53);
    border-radius: 30px;
  }

  .buy:hover {
    background-color: yellow;
    cursor: pointer;
  }
}
