.cart {
  background-color: rgb(49, 49, 49);
  overflow: hidden;
}

.mappedItems {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cart p {
  color: white;
  font-size: x-large;
}

.bottomDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 40px;
  position: relative;
  top: 0;
  background-color: black;
}
.bottomDiv button {
  padding: 15px 60px;
  color: white;
  background-color: black;
  font-size: x-large;
  font-weight: bolder;
  border-radius: 30px;
  border: 0px;
  cursor: pointer;
}

@media (max-width: 660px) {
  .cart p {
    color: white;
    font-size: medium;
  }
  .bottomDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 10px;
    position: relative;
    top: 0;
    background-color: black;
  }
  .bottomDiv button {
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-size: medium;
    border-radius: 30px;
    border: 0px;
  }
}
