.mainDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.itemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid rgb(185, 185, 185);
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
}

.itemWrapper img {
  border-radius: 10px;
  width: fit-content;
  aspect-ratio: 2/2;
  object-fit: contain;
}

.itemWrapper p {
  font-size: x-large;
  font-weight: bolder;
  color: black;
  font-family: monospace;
}

.options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}

.cart {
  background-color: black;
  color: white;
  font-size: larger;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid gray;
}

.cart:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.cart:active {
  background-color: white;
  color: black;
}

@media (max-width: 660px) {
  .itemWrapper {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  .itemWrapper img {
    border-radius: 10px;
    height: 20rem;
    aspect-ratio: 2/2;
    object-fit: contain;
  }
  .cart {
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: lighter;
    padding: 10px 20px;
    border: 1px solid gray;
  }

  .cart:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .cart:active {
    background-color: white;
    color: black;
  }

  .itemWrapper p {
    font-size: medium;
    color: black;
  }
}
