.maindiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(250, 250, 250);
  position: relative;
  top: 15vh;
  flex-direction: column;
  box-shadow: -3px 3px 2px rgb(204, 204, 204);
  margin: 35px;
  padding: 20px;
}

.maindiv img {
  border-radius: 1px;
  height: 22rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.maindiv p {
  font-size: x-large;
  font-weight: bolder;
  color: black;
  font-family: monospace;
}

.options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}

.cart {
  background-color: black;
  color: white;
  font-size: larger;
  font-weight: bold;
  padding: 12px 23px;
  border: 1px solid gray;
}

.cart:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.cart:active {
  background-color: white;
  transform: scale(1.1);
  color: black;
}

@media (max-width: 990px) {
  .maindiv {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -3px 3px 2px rgb(224, 224, 224);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    top: 15vh;
  }
  .maindiv img {
    border-radius: 10px;
    height: 10rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .cart {
    background-color: black;
    color: white;
    font-size: smaller;
    font-weight: lighter;
    padding: 5px 10px;
    border: 1px solid gray;
  }

  .cart:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .cart:active {
    background-color: white;
    color: black;
  }

  .maindiv p {
    font-size: small;
    font-weight: lighter;
    color: black;
  }
}
