.authDiv {
  display: flex;
  margin: 40px auto;
}
.authDiv form {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
}
.authDiv input {
  margin-bottom: 20px;
  padding: 10px;
  width: 20rem;
}

.authDiv label {
  text-align: start;
  font-size: large;
  margin-bottom: 5px;
  color: black;
}
.authDiv .button {
  background-color: black;
  margin-bottom: 20px;
  margin-right: 55%;
  padding: 10px 20px;
  font-size: larger;
  font-weight: bold;
  color: white;
  border: 0px solid gray;
  cursor: pointer;
}

.toggle {
  background-color: transparent;
  border: 0cap;
  color: black;
  text-decoration: underline;
  font-size: large;
  cursor: pointer;
}
