form {
  background-color: rgb(238, 238, 238);
  width: 60%;
  margin: 10px auto;
  border-radius: 10px;
}

.formgroup {
  height: fit-content;
  display: block;
  padding: 10px 30px;
}
.formgroup input {
  width: 90%;
  height: 2rem;
  margin: 10px;
  display: block;
}

.formgroup label {
  display: flex;
  justify-content: flex-start;
}

.formgroup button {
  width: 90%;
  font-size: larger;
  padding: 10px;
  color: white;
  background-color: green;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
}
