.header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  object-fit: fill;
  overflow: hidden;
  height: 15vh;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.logoDiv img {
  height: 5rem;
  width: 5rem;
  margin-bottom: 5px;
}

.cover a {
  margin: 10px;
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}
.links a {
  padding: 10px 25px;
  margin: au 15px;
  width: fit-content;
}

.links a:hover {
  color: rgb(92, 92, 92);
}
.links a.active {
  border-bottom: 1px solid black;
  box-shadow: 0px 6px 6px -6px black;
}

.cartButton {
  border: 0px;
  font-weight: bolder;
  font-size: large;
  text-align: center;
  cursor: pointer;
  margin: 20px 5px;
  background: transparent;
}
.cartButton img {
  width: 3rem;
  height: 3rem;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
}
.logout {
  margin: auto;
  background-color: white;
  font-size: large;
  border: 0px;
  cursor: pointer;
}

.header button:hover {
  transform: scale(1.01);
}
.login {
  background-color: white;
  margin: auto;
  color: black;
  border: 0px;
  font-size: larger;
  cursor: pointer;
  padding: 10px;
}
.login img {
  height: 3rem;
  width: 3rem;
}

.login::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease; /* Smooth transition for the width */
}

.login:hover::after {
  width: 100%; /* Animate the width to 100% on hover */
}

@keyframes line {
  0% {
    border-bottom-width: 0%;
  }
  100% {
    border-bottom-width: 100%;
  }
}

@keyframes slideRight {
  0% {
    transform: translatey(-100%);
    opacity: 0.1;
  }
  100% {
    transform: translatey(0%);
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .logoDiv img {
    width: 3rem;
    height: 3rem;
  }
  .cover {
    display: block;
    width: min-content;
    padding: 0px;
  }
  .links {
    display: flex;
    margin: 0px;
  }

  .links a {
    margin: auto 10px;
    font-size: large;
    font-weight: lighter;
    padding: 5px 0px;
  }

  .login {
    background-color: white;
    margin: 20px auto;
    color: black;
    border: 0px;
    border-radius: 20px;
    font-size: larger;
    cursor: pointer;
  }

  .login img {
    height: 2rem;
    width: 2rem;
  }
  .logout {
    font-size: medium;
  }
}
