.mainDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.itemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  align-items: center;
  flex-wrap: wrap;
  border: 2px solid gray;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
}

.itemWrapper img {
  border-radius: 10px;
}

.itemWrapper p {
  font-size: x-large;
  font-weight: bolder;
  color: gray;
}

.options {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.options button {
  padding: 10px 50px;
  height: fit-content;
  border-radius: 20px;
}
.buy {
  background-color: skyblue;
  color: white;
  font-size: larger;
  font-weight: bold;
  border: 1px solid gray;
}

.cart {
  background-color: burlywood;
  color: white;
  font-size: larger;
  font-weight: bold;
  border: 1px solid gray;
}

.cart:hover {
  background-color: brown;
}

.buy:hover {
  background-color: rgb(71, 179, 230);
}
